{%  extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="container">
        <h2>Login Page</h2>
    </div>

    <div class="container">
        <p>Example customer name:</p>
        <p>- {{ customer_name }}</p>
    </div>

    <div class="container">
        <form method="POST">
            <div class="mb-3">
                <label for="userEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">This is your professional e-mail address.</div>
            </div>
            <div class="mb-3">
                <label for="userPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="userPassword">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="acknowledgeCheckBox">
                <label class="form-check-label" for="acknowledgeCheckBox">
                    I acknowledge submission of this request.
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
