{%  extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', path='css/read_customer_data.css') }}">
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="container">
        <h2></h2>
    </div>

    <div class="container">

    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', path='js/read_customer_data.js') }}"></script>
{% endblock %}
