{%  extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', path='css/search.css') }}">
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="container">
        <h2>Search Page</h2>
    </div>

    <div class="container">
        <p>{{ search_var }}</p>
    </div>

    <div class="container">
        <form action="/search" method="post">
            <input type="text" name="search_param">
            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
